@model BoPeepMVC.Models.Activity

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<head>
    <title>Bored to Death - Activity</title>
</head>
<body>
    <h2>@Model.Title</h2>
    <p>@Model.Rating</p>
    @if (Model.ImageURL != null)
    {
        <img src="@Model.ImageURL" alt="@Model.Title" />
    }
    <p>@Model.Description</p>
    <p>@Model.Location</p>
    @if (Model.ExternalLink != null)
    {
        <a href="@Model.ExternalLink">CLICK HERE</a>
        <br />
    }
    <ul title="tags">
        @foreach (var t in Model.Tags)
        {
            <li>@t.Name</li>
        }
    </ul>
    <ul title="reviews">
        @foreach (var r in Model.Reviews)
        {
            <li>
                <p>@r.Description</p>
                <p><em>by @r.Name</em></p>
            </li>
            <form asp-action="DeletePost">
                <input type="hidden" value="@r.Id" name="id"/>
                <button type="submit">Delete</button>
            </form>

        }
    </ul>
    <footer>
        <p><em>BoPeep Development &copy; 2020</em></p>
    </footer>
</body>