@model BoPeepMVC.Models.Activity

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<head>
    <title>Bored to Death - Activity</title>
</head>
<body>
    <div>@Model.Title</div>
    <div>@Model.Rating</div>
    <div>@Model.ImageURL</div>
    <div>@Model.Description</div>
    <div>@Model.Location</div>
    <div>@Model.ExternalLink</div>
    <div>@Model.Tags</div>
    <div>@Model.Reviews</div>
    <div>@Model.Rate</div>

</body>