@model IEnumerable<BoPeepMVC.Models.Activity>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<head>
    <title>Bored to Death - Search Results(@Model.Count() Found)</title>
</head>
<body>
    <ul>
        @foreach (var activity in Model)
        {
        <li>
            @if (activity.ImageURL != null)
            {
                <img src="@activity.ImageURL" alt="@activity.Title" />
            }
            <h2>@activity.Title</h2>
            <p>@activity.Rating</p>
            <p>@activity.Location</p>
            <p>@activity.Description</p>
            <a href="@activity.ExternalLink">CLICK HERE</a>
            @*Amanda did it*@
            <a asp-action="Activity" asp-route-id="@activity.ID">Click-y Click</a>
           
            <form method="post">
                <input value="@activity.ID" name="id" hidden />
                <button action="submit">Review this Activity</button>
            </form>
        </li>
        }
    </ul>
</body>